# Please do not forget to change the values in this file before running the script. 
# You can also add more variables if needed.
# Don't push this file to your repository, as it may contain sensitive information.

URL=here-username.here-domain.here-country-code
OPENSSL_SUBJ=/C=here_country_code/ST=here_state/L=here_locality/O=here_organisation/OU=here_organisation_unit/CN=here_common_name

PORT=3000
AUTH_SERVICE_URL=http://auth-service:3333
MESSAGING_SERVICE_URL=http://messaging-service:3333
