# Please do not forget to change the values in this file before running the script. 
# You can also add more variables if needed.
# Don't push this file to your repository, as it may contain sensitive information.

URL=here-username.here-domain.here-country-code
GF_SERVER_ROOT_URL=http://here-service.url.extension
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
WP_INSTALL_PATH=/path/of/host/data
